---
// Header & Navigation UI displayed on each page.

import LocaleSelect from "@/components/i18n/LocaleSelect.astro";
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

// import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
  getRelativeLocaleUrl(locale, path) === Astro.url.pathname;

const links = [
  {
    url: "/citations",
    locales: {
      en: "Citations",
      bn: "Situplol"
    }
  },
  {
    url: "/faq",
    locales: {
      en: "FAQ",
      bn: "Add Page lol"
    }
  },
  {
    url: "/victims",
    locales: {
      en: "Victims",
      bn: "Add Page lol"
    }
  },
  {
    url: "/war-crimes",
    locales: {
      en: "War Crimes",
      bn: "Add Page lol"
    }
  },
  {
    url: "/complicity",
    locales: {
      en: "Complicity",
      bn: "Add Page lol"
    }
  },
  {
    url: "/glossary",
    locales: {
      en: "Glossary",
      bn: "Add Page lol"
    }
  },
] 
---

<header class="l-header">
  <h1 dir="ltr">
    <a href={getRelativeLocaleUrl(locale, "/")}>
      GRIEF-STRICKEN WINDS
    </a>
  </h1>

  <LocaleSelect />
  <nav class="l-content">
    <ul>
      {links.map(link => (
        <li>
          <a
            href={getRelativeLocaleUrl(locale, link.url)}
            class={isActive(link.url) ? "active" : null}
          >
            {t({ ...link.locales })}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>

<style>
  * {
    flex-wrap: wrap;
    justify-content: center;
  }

  header {
    display: grid;
    place-items: center;
    gap: var(--sp-s);
  }

  h1 {
    margin-block-start: var(--sp-l);
    margin-inline-start: -0.5em;
    font-size: 40px;
    font-family: var(--english-font);
    font-weight: 900;
    @media (width < 480px) {
      font-size: 28px;
    }

    a {
      display: flex;
      align-items: center;
    }
    img {
      width: 6em;
      position: relative;
      inset: 0.1em;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--sp-m);
  }
  ul {
    display: flex;
    gap: var(--sp-s);
    margin-block-start: var(--sp-s);

    .en-only {
      position: relative;
      &:not(:lang(en))::before {
        content: "EN";
        position: absolute;
        inset: -0.4em -0.6em auto auto;
        font-size: 0.8em;
        font-weight: 900;
        color: var(--color-main);
        opacity: 0.6;
      }
    }

    a {
      font-size: 1.05rem;
      display: block;
      font-weight: 600;
      letter-spacing: 0.05em;
      padding-block: 0.2em;
      padding-inline: 0.4em;
      border-radius: 4px;
      &:hover,
      &:active {
        background-color: color-mix(
          in srgb,
          var(--color-theme) 5%,
          transparent
        );
      }
      &.active {
        pointer-events: none;
        color: var(--color-theme);
      }
      .material-icons-sharp {
        opacity: 0.6;
        margin-inline-start: -0.2em;
        font-size: 0.9em;
      }
    }
  }
</style>
